<nz-modal [(nzVisible)]="modalVisible" nzMaskClosable="false" nzTitle="修改密码" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" style="width: 520px;" [nzFooter]="modalFooter">
    <ng-template #modalContent>
        <form nz-form [formGroup]="validateForm" *ngIf="modalVisible">
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="4" nzFor="orgPassword" nzRequired>原密码</nz-form-label>
                <nz-form-control [nzSm]="20" nzHasFeedback>
                    <input nz-input formControlName="orgPassword" id="orgPassword" [(ngModel)]="changePassword.orgPassword" type="password">
                    <nz-form-explain *ngIf="validateForm.get('orgPassword').dirty&&validateForm.get('orgPassword').hasError('required')">请输入原密码</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="4" nzFor="newPassword" nzRequired>新密码</nz-form-label>
                <nz-form-control [nzSm]="20" nzHasFeedback>
                    <input nz-input formControlName="newPassword" id="newPassword" [(ngModel)]="changePassword.newPassword" type="password">
                    <nz-form-explain *ngIf="validateForm.get('newPassword').dirty&&validateForm.get('newPassword').hasError('required')">请输入新密码</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                <nz-form-label nz-col [nzSm]="4" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
                <nz-form-control [nzSm]="20" nzHasFeedback>
                    <input nz-input formControlName="checkPassword" id="checkPassword" [(ngModel)]="changePassword.checkPassword" type="password">
                    <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty&&validateForm.get('checkPassword').hasError('required')">请确认密码</nz-form-explain>
                    <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty&&validateForm.get('checkPassword').hasError('confirm')">两次输入的密码必须一致</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" type="button" (click)="handleCancel($event)">
            取消
        </button>
        <button nz-button [nzType]="'primary'" type="button" (click)="save()" [nzLoading]="isConfirmLoading" [disabled]="!validateForm.valid">
            修改
        </button>
    </ng-template>
</nz-modal>